# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
popul = np.random.randint(1,100000000,size=5)
print(popul)
data = {'國家': ["美國", "英國", "法國", "德國", "日本" ],
        '人口': popul}
data = pd.DataFrame(data)
data

[64676861 54588364 55571669 47402245 70857086]

   國家        人口
0  美國  64676861
1  英國  54588364
2  法國  55571669
3  德國  47402245
4  日本  70857086

In [8]:
max_popu = data['人口'].max()
max_num = data['人口'].idxmax()
max_coun = data['國家'][max_num]
print("人口最多的國家是:", max_coun, "人口為", max_popu)

人口最多的國家是: 日本 人口為 70857086